---
layout: splash
author_profile: true
title: "Hello, World!"
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  cta_label: "Download Resume"
  cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Photo credit: [**Negative Space**](https://www.pexels.com/photo/coffee-writing-computer-blogging-34676/)"
excerpt: "I’m just another boring, time traveling software engineer from Buffalo New York. I enjoy eating chicken wings, sketching on an iPad, and playing Xbox."
intro:
  - excerpt: "Hello! I am Yash Ketkar, I am pursuing my Master's degree in Computer Science from [https://www.indiana.edu/](Indiana University, Bloomington) and working as a Software Developer at [https://kelley.iu.edu/](Kelley School of Business). I worked as a Software Engineer Intern at [https://www.telenotes.com](Telenotes Inc) in Summer 2016. Prior to joining grad school, I did my Bachelor’s in Information Technology Engineering from [http://mu.ac.in/](University of Mumbai), India where I acquired knowledge of computer science fundamentals and developed my predilection towards programming."
feature_row:
  - image_path: assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 1"
    title: "Work Experience"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Code"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    title: "Agile &amp; DevOps"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Projects"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - alt: "placeholder image 2"
    title: "Contact"
    excerpt: 'Send me an email if you would like to get in touch, hire me for your next project, have questions or feedback on my work, or just want to say hello.'
    url: "mailto:yashketkar@hotmail.com"
    btn_label: "Email me"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
